<div>
  <h2>If you loved <span><%= @book.title %></span> by <%=@book.author%> check out the faves lists of users who also loved the book.</h2>
</div>

<% @other_lovers.reject{|lover| lover == @current_user}.each do |lover| %>
  <h3><%= lover.username %></h3>
  <div class="gallery-div">
    <% lover.readings.each do |reading| %>
      <% if reading.stars == "****" || reading.stars == "*****" %>
        <div class="gallery-box">
          <% if reading.book.image.present? %>
            <div><%= link_to image_tag(reading.book.image, :alt => reading.book.title, :class => 'baby-thumb'), book_path(reading.book.id) %></div>
          <% else %>
            <div class="empty-thumb-baby">
              <div class="empty-thumb-title">
                <p><%= link_to reading.book.title.split(/[:(]/).first, book_path(reading.book.id) %></p>
                <p class="smaller"><%= reading.book.author %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
