<h1>Log in</h1>

<h2><%= flash[:error] %></h2>
<!-- above: only shows up if it's the second time through and the first time there was an error with login  -->

<%= form_tag login_path %>
<!-- # no form helper for form_tag so have to create labels etc. ourselves -->
  <%= label_tag :username %>
  <%= text_field_tag :username %><br>
  <%= label_tag :email %>
  <%= email_field_tag :email %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>

  <%= submit_tag "Log in", :class => "button" %>
