<h1 class="home">Book Pinch</h1>

<% if @current_user.present? %>
  <div class="welcome"><p>Welcome back <strong><%= @current_user.username %></strong></p></div>

  <h2 class="user-home">Faves</h2>
  <hr>
  <% @faves.each do |reading| %>
      <div class="gallery-box">
        <div class="flex-row">
          <div class="left">
            <% if reading.book.image.present? %>
              <%= link_to image_tag(reading.book.image, :alt => reading.book.title, :class => 'baby-thumb'), book_path(reading.book.id) %>
            <% else %>
              <div class="empty-thumb-baby">
                <div class="empty-thumb-title">
                  <p><%= link_to reading.book.title, book_path(reading.book.id) %></p>
                </div>
                <%= image_tag 'empty-thumb.png', :class => 'empty-thumb-baby' %>
              </div>
            <% end %>
          </div>
          <div class="right">
            <div class="details">
              <p><strong><%= link_to reading.book.title, book_path(reading.book.id) %></strong><br>
              <%= reading.book.author %></p>
              <p>Rating: <%= reading.stars %></p>
              <div class="controls">
                <%= link_to 'Edit', edit_book_reading_path(reading.book.id, reading) %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

  <h2 class="user-home">Reading</h2>
  <hr>
  <%= render :partial => 'gallery', locals: { status: @currently_reading } %>

  <h2 class="user-home">To read</h2>
  <hr>
  <%= render :partial => 'gallery', locals: { status: @to_read } %>

  <h2 class="user-home">Read</h2>
  <hr>
  <%= render :partial => 'gallery', locals: { status: @read } %>

  <h2 class="user-home">All books</h2>
  <hr>
  <% @current_user.readings.each do |reading| %>
    <ul>
      <li><%= link_to reading.book.title, edit_book_reading_path(reading.book.id, reading) %></li>
    </ul>
  <% end %>
<% else %>
  <div class="home-msg">
    <h2>Keep track of books you're reading or want to read.</h2>
    <h2>Mark your favourites. See who else has a similar style.</h2>
    <h2>Pinch their books.</h2>
    <br>
    <div><%= link_to "Sign up to get started", new_user_path, :class => "sign-up-msg" %></div>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
