<div class="flex-column">
  <h1>All Books</h1>

  <div class="gallery">
    <% @books.each do |book| %>
      <div class="thumb-box">
        <a href="/books/<%= book.id %>" title="<%= book.title %>">
          <% if book.image.present? %>
            <%= image_tag book.image, :alt => book.title, :class => 'thumb' %>
            <!-- the bit at the end gets the title to pop up on hover -->
          <% else %>
            <div class="empty-thumb"><%= book.title %></div>
          <% end %>
        </a>
      </div>
    <% end %>
  </div>

  <div class="">
    <h3><%= link_to 'Add a book to the database', new_book_path %></h3>
  </div>
</div>
