<div class="search-results">
  <h2>Top hit:</h2>
  <div class="flex-row">
    <div class="left">
      <img src="<%= @book_cover %>" alt="Book cover of <%= @title %>">
    </div>
    <div class="right">
      <div class="details search-results">
        <h1><%= @title %></h1>
        <h2><%= @author %></h2>
      </div>
      <div class="controls">
        <% if @current_user.present? %>
        <div class="simple-link-button"><%= link_to 'Add to my books', new_book_reading_path(@book.id), :method => 'get' %></div>
        <% end %>
        <div class="simple-link-button"><%= link_to 'Back to search', books_search_path %></div>
      </div>
    </div>
  </div>
  <div class="details">
    <h3><a href="<%= @gr_link %>" target="_blank">>> View on Goodreads</a></h3>
    <h3><a href="#" id="preview" target="_blank">>> Preview in Google books</a></h3>
    <% if @book.description.present? %>
      <button id="toggle_description" value="@title">View description</button>
      <div id="book_description" class="hidden"><p><%== @description %></p></div>
    <% end %>
  </div>
</div>