<h1 class=book-show><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<div class="flex-row">
  <div class="left">
    <% if @book.image.present? %>
      <%= image_tag @book.image, :class => 'thumb' %>
    <% else %>
      <div class="empty-thumb">
        <div class="empty-thumb-title">
          <p><%= @book.title.split(":").first %></p>
          <p class="smaller"><%= @book.author %></p>
        </div>
        <%= image_tag 'empty-thumb2.png', :class => 'empty-thumb' %>
      </div>
    <% end %>
  </div>
  <div class="right">
    <div class="controls">
      <% if @current_user.present? %>
      <div><%= link_to 'Add to my books', new_book_reading_path(@book), :method => 'get' %></div>
      <div class="stop-right-there">
        <%= flash[:error] %>
      </div>
      <% end %>
      <div class="jazz-colour"><%= link_to "If you loved this, you might also like...", book_readings_path(@book) %></div>
      <div>
        <%= link_to 'Back to all books', books_path %>
        <% if @current_user.present? %>
          <%= link_to 'Back to my books', root_path %>
        <% end %>
      </div>
    </div>
    <% if @current_user.present? %>
      <% if @current_user.username == 'admin' %>
      <div class="controls">
        <div><%= link_to 'Edit book', edit_book_path(@book) %>
        <%= link_to "Delete book", @book, :method => 'delete', :data => {:confirm => 'Are you sure'} %></div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="details">
  <% if @book.link.present? %>
    <h3><%= link_to ">> View on Goodreads", @book.link, target: '_blank' %></h3>
  <% end %>
  <h3><a href="#" id="preview" target="_blank">>> Preview in Google books</a></h3>
  <button id="get_description" value="@book.title">View description</button>
  <div id="book_description" class="hidden"><p><%== @book.description %></p></div>
</div>
