<div class="flex-row">
  <div class="left">
    <% if @book.image.present? %>
      <%= image_tag @book.image, :class => 'feature' %>
    <% end %>
  </div>
  <div class="right">
    <div class="details">
      <h1><%= @book.title %></h1>
      <h2><%= @book.author %></h2>
      <% if @book.link.present? %>
        <h3><%= link_to ">> View on Goodreads", @book.link %></h3>
      <% end %>
    </div>
    <div class="controls">
      <%= link_to 'Add to my books', book_readings_path(@book), :method => 'post', :to_read => true %>
      <%= link_to "Other users' bookshelves with this book", book_readings_path(@book) %>
      <%= link_to 'Back', books_path %>
    </div>
    <div class="admin-controls">
      <%= link_to 'Edit book', edit_book_path(@book) %>
      <%= link_to "Delete book", @book, :method => 'delete', :data => {:confirm => 'Are you sure'} %>
    </div>
  </div>
</div>
